.pag-2{

}

.card-grande{

    background:#dce8ff;
    padding:25px;
    border-radius:12px;
    margin-bottom:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:65%;
    height: 400px;

}

#robo{

    width: 450px;
    height: 400px;
    margin-right: 100px;

}

.titulo {

    font-size:19px;
    font-family: "Segoe UI", Arial, sans-serif;
    color:#003391; 
    display:flex;

}


.botoes button{

    background:#003391;
    color:#ecf3ff;
    padding:12px 18px;
    margin-right:10px;
    border-radius:25px;
    font-size:15px;
    letter-spacing: 0.5;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    text-align:center;
    width:330px;


}

.botoes{

    display:flex;
    flex-direction:column;
    gap:10px;
    margin-right: 100px;
    

}

.fale{

    background:#003391;
    color:#ecf3ff;
    padding:8px 16px;
    border-radius:20px;
    font-family:"Segoe UI", Arial, sans-serif;
    font-size:15px;
    letter-spacing: 0.5;

}

.card-status{

    background:#dce8ff;
    padding:25px;
    border-radius:12px;
    width:30%;
    height: 400px;
    font-family:"Segoe UI", Arial, sans-serif;

}

.linha{

    display:flex;
    justify-content:space-between;
    padding:10px;
    border-bottom:1px solid #eee;
    font-size:15px;

}

.processado{

    background:#27c46b;
    color:white;
    padding:4px 10px;
    border-radius:8px;
    font-size:15px;

}

.analise{

    background:#ffc107;
    color:white;
    padding:4px 10px;
    border-radius:8px;
    font-size:15px;

}

.cancelado{

    background:#ff3737;
    color:white;
    padding:4px 10px;
    border-radius:8px;
    font-size:15px;

}

.processado, .analise, .cancelado{

    display:inline-block;
    width:80px;
    text-align:center;

}

.tabela{

    background:white;
    border-radius:12px;
    padding:15px;

}

.topo-status{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.ver{

    color:#003391;
    font-size:14px;
    cursor:pointer;
    font-family:"Segoe UI", Arial, sans-serif;

}

.titulo-status{

    font-weight:600;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color:#003391;
    border-bottom:1px solid #f3f7ff;
    padding-bottom:1px;
    margin-bottom:5px;

}

main{

    display:flex;
    gap:20px;

}

h2{

    font-family:"Segoe UI", Arial, sans-serif;
    color:#003391;
    font-weight:600;

}

h1{

    font-family:"Segoe UI", Arial, sans-serif;
    color:#003391;
    margin-top: 30px;
    margin-right: 10px;

}

span{

    font-family:"Segoe UI", Arial, sans-serif;
    color:#000000;
    font-weight: bold;
}

.topo-compras {

    display:flex;
    justify-content:space-between;
    align-items:center;

}
.produtos{

    display:flex;
    gap:20px;

}

.produto{

    background:#dce8ff;
    border-radius:10px;
    padding:10px;
    text-align:center;
    width:120px;
    font-family:"Segoe UI", Arial, sans-serif;


}

.produto img{

    width:60px;
    margin-bottom:10px;

}

.produto p{

    margin:3px 0;
    font-size:13px;

}

#pag1 h2, h1{
    color: #000000;
}

#barra-acoes{
    display: flex;
}

.nav{
    display: flex;
}

.new{
    display: flex;
}

.menu{
    text-align: left;
}

.overview{
    
}