.pag-1{

}

.pag-2{

}

.card-grande{

    background:#dce8ff;
    padding:25px;
    border-radius:12px;
    box-shadow:0px 2px 6px rgba(0,0,0,0.1);
    margin-bottom:25px;

}

.titulo{

    font-size:20px;
    margin-bottom:10px;
    font-family: "Segoe UI", Arial, sans-serif;
    color:#003391;
    font-weight:600;

}