.pag-1{

}

.pag-2{

}

.card-grande{

    background:#dce8ff;
    padding:25px;
    border-radius:12px;
    margin-bottom:25px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:65%;
    height: 30%;

}

#robo{

    width: 400px;
    height: 450px;
    margin-right: 100px;

}

.titulo{

    font-size:19px;
    font-family: "Segoe UI", Arial, sans-serif;
    color:#003391;
    font-weight:600;
    display:flex;

}


.botoes button{

    background:#003391;
    color:#ecf3ff;
    padding:12px 18px;
    margin-right:10px;
    border-radius:25px;
    font-size:15px;
    letter-spacing: 0.5;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    text-align:center;
    width:330px;


}

.botoes{

    display:flex;
    flex-direction:column;
    gap:10px;
    margin-right: 100px;
    

}

.fale{

    background:#003391;
    color:#ecf3ff;
    padding:8px 16px;
    border-radius:20px;
    font-family:"Segoe UI", Arial, sans-serif;
    font-size:15px;
    letter-spacing: 0.5;

}